<h1> Delete <%= @painter.name%> </h1>

<form action='/painters/<%= @painter.id%>/delete' method="post"> 
  <input type="hidden" name="_method" value="delete">
    <input type="Submit" value="Delete Painter">
</form>