<h1> Delete <%= @artwork.name%> </h1>

<form action='/artwork/<%=@artwork.id%>/delete' method="post"> 
  <input type="hidden" name="_method" value="delete">
    <input type="Submit" value="Delete Painting">
</form>