<html>
    <h1>Welcome To Artists That You Need To Know</h1>
    <p>A site dedicated to teaching you more about artists that should know.</p>
    <h2>Check Out Some Painters</h2>
    <form method="get" action='/painters'>
        <button type="submit">Enter Website</button>
    </form>
</html>